VITE_CLIENT_ID=your_client_id_here
VITE_TENANT_ID=your_tenant_id_here
VITE_REDIRECT_URI=http://localhost:5173
VITE_API_URL=http://localhost:5000
VITE_API_SCOPE=api://<API_APPLICATION_CLIENT_ID>/access_as_user
VITE_AUTH_DEBUG=false
